* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/**黑鳥 Logo */
/**主體 */
.blackbird-logo {
  position: relative;
  width: 15em;
  height: 12em;
  background-color: #fff;
  border-radius: 90% 40% 60% 0%;
  border-top: 2em solid #000;
  border-bottom: 2em solid #000;
}

/* Eye */
.blackbird-logo::before {
  content: "";
  position: absolute;
  top: 2.8em;
  right: 3.8em;
  width: 3em;
  height: 3em;
  background-color: #000;
  border-radius: 50%;
  z-index: 1;
  box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2);
}

/* Nose */
.blackbird-logo::after {
  content: "";
  position: absolute;
  top: 4em;
  right: -3.5em;
  transform: translateY(-120%) rotate(-10deg);
  width: 4em;
  height: 2em;
  background-color: #000;
  border-radius: 0% 100% 0% 0%;
}